{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "thebot.fullname" . }}-network-policy
  namespace: {{ .Values.namespace.name | quote }}
  labels:
    {{- include "thebot.labels" . | nindent 4 }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress

  ingress:
    # Allow traffic from ingress controller
    - from:
        - namespaceSelector:
            matchLabels:
              name: ingress-nginx
      ports:
        - protocol: TCP
          port: 8000  # Backend
        - protocol: TCP
          port: 80    # Frontend

    # Allow DNS
    - ports:
        - protocol: UDP
          port: 53
      from:
        - namespaceSelector: {}

    # Allow traffic within the same namespace
    - from:
        - podSelector: {}

{{- end }}
